@model apoio_decisao_medica.Models.Sintoma

@{
    ViewData["Title"] = "Novo Sintoma";
}

<h1>Novo Sintoma</h1>

<h4>Sintoma</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="NovoSintoma">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CatSintomaId" class="control-label"></label>
                <select asp-for="CatSintomaId" class="form-control" asp-items="ViewBag.CatSintomaId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" asp-route-numProcesso="@ViewBag.PROC" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a href="@ViewBag.ReturnUrl">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
