<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Container</WebPublishMethod>
    <PublishProvider>ContainerApp</PublishProvider>
    <ContainerResourceId>/subscriptions/609f8d52-5d09-4bce-9198-44d24ac54115/resourceGroups/App/providers/Microsoft.ContainerRegistry/registries/apoiomedico</ContainerResourceId>
    <ContainerResourceName>apoiomedico</ContainerResourceName>
    <Subscription>Azure subscription 1</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>apoiomedico.azurecr.io</RegistryUrl>
    <ContainerPublishMethod>NetSdk</ContainerPublishMethod>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ContainerName>apoiodecisaomedica</ContainerName>
    <EnvironmentName>apoiodecisaomedica-env-20230326162248</EnvironmentName>
    <SiteUrlToLaunchAfterPublish>https://apoiodecisaomedica-app-202303261.politeforest-346582f5.westeurope.azurecontainerapps.io</SiteUrlToLaunchAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/609f8d52-5d09-4bce-9198-44d24ac54115/resourceGroups/App/providers/Microsoft.App/containerapps/apoiodecisaomedica-app-202303261</ResourceId>
    <ResourceGroup>App</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <_TargetId>NetSdkAzureContainerAppLinux</_TargetId>
  </PropertyGroup>
</Project>